@font-face {
  font-family: 'telegramimfont';
  src:  url('fonts/telegramimfont.eot?7b24fo');
  src:  url('fonts/telegramimfont.eot?7b24fo#iefix') format('embedded-opentype'),
    url('fonts/telegramimfont.ttf?7b24fo') format('truetype'),
    url('fonts/telegramimfont.woff?7b24fo') format('woff'),
    url('fonts/telegramimfont.svg?7b24fo#telegramimfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ftelegramim_tmp {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'telegramimfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ftelegramim-telegram-logo:before {
  content: "\e901";
}
.ftelegramim-telegram:before {
  content: "\e900";
}
.ftelegramim-brand:before {
  content: "\e900";
}
.ftelegramim-social:before {
  content: "\e900";
}

