<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Domain" value="coherenttest"/>
    <add key="IdsDomainLookup" value="https://next.platform.truu.ai/api/v1/public/fqdn/coherenttest/"/>
    <add key="OAuthClientId" value="qlyac10aYBCuGCPjWWXh6LfXhUuUO8PxsNNf"/>
    <add key="OAuthClientSecret" value="wFKNxHuXmwVxhtT3mJGgcmdZCap9mPdBZkpznHvhRHPpMCXvh9C2kY2i81E1AJ1R"/>
    <add key="OAuthScope" value="tenant-management-api-agent"/>
  </appSettings>
</configuration>
